.container {
    display: flex;
    flex-direction:column ;
    align-items: normal;
    justify-content: left;
    gap: 2px;
}
body {
    font-family: sans-serif;
    width: 50%;
    text-transform: uppercase;
    background-color: azure;
    background-size: cover;
    padding-top: 50px;
}

h1 {
    color: darkmagenta;
    font-size: 26pt;
    text-align: center;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 26px;
}
h2 {
    color: deeppink;
    width:40%;
    padding: 5px 10px;
    border: 2px solid rgb(128, 0, 107);
    border-radius: 10px;
    margin-bottom: 10px;
    background-position: left;
    background-color: rgb(179, 175, 175);
    text-align: center;
}
.login-form {
    width: 28%;
    margin:0 auto;
    background: url(./imagenes/https://png.pngtree.com/png-clipart/20200624/ourmid/pngtree-birds-flying-silhouette-png-image_2263190.jpg)
    background-size: cover;
    background-position:center;
    padding: 30px 33px 67px;
    border-top:6px solid burlywood;
    box-shadow: 0px 35px 44px -22px rgb(0,0,0,0.72);

}
form {
    margin:0 auto;
}
Borrar {
    border-bottom: 1px solid #5f5f5f;
    padding: 15px;
}

